<div class="controller" data-dojo-attach-point="rootNode">
    <div class="mainContainer" data-dojo-attach-point="mainContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:false, liveSplitters:false">
        <div class"header" data-dojo-attach-point="headerPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
            <div data-dojo-attach-point="headerTarget"></div>
        </div>
        <div class="map" data-dojo-attach-point="mapPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
        </div>
    </div>
</div>