.header .backButton {
    position: absolute;
    height: 30px;
    width: 60px;
    top: 10px;
    left: 10px;
}
.header .searchButton {
    position: absolute;
    height: 30px;
    width: 60px;
    top: 10px;
    right: 10px;
}
.header .headerText {
    position: absolute;
    text-align: center;
    line-height: 30px;
    top: 50%;
    width: 100%;
    height: 30px;
    margin-top: -15px;
}